@import url('@pmndrs/branding/styles.css');

* {
  box-sizing: border-box;
  
}
@font-face {
  font-family: 'Tenada';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Tenada', sans-serif;

}

body {
  font-family: 'Tenada', sans-serif;
  color: white;
  background: #141827;
  user-select: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: linear-gradient(to top, #0a0a0a, #181a1a, #1d1d1f);
}

.notready {
  color: #606060;
}

.clicked {
  pointer-events: none;
  opacity: 0;
}

ul li a {
  font-family: 'Tenada', sans-serif;
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
input {
  font-family: 'Tenada', sans-serif;
}
button {
  font-family: 'Tenada', sans-serif;
}
ul li a:hover {
  text-decoration: underline;
  color: inherit;
}
li::marker {
  content: '';
}
.music {
  text-decoration: underline;
  color: inherit;
  font-size: var(--fontsize-m);
  position: absolute;
  z-index: 999999;
  width: 60px;
  height: 60px;
  background-color:#0c2e2b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  right: 1px;
  top: 10px;
  border-radius: 50% 0 0 50%;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.fa-music{
margin-right: 30px;
}
.fa-pause{
  margin-right: 30px;
}
.music:hover .fa-music {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.music:hover {
  opacity: 1;
  transform: translateY(2px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.fade-in {
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: none;
  }
  40% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cc7b32, 0 0 40px #cc7b32, 0 0 50px #cc7b32, 0 0 60px #cc7b32, 0 0 70px #cc7b32;
  }
  100% {
    box-shadow: none;
  }
}

.glow {
  padding: 14px;
  border-radius: 12px;
  animation: glow 4.5s infinite;
}